@page "/CategoryManagement/{CategoryDefinitionName}"
@using Microsoft.Extensions.Localization
@using global::Full.Abp.CategoryManagement.Localization
@using Microsoft.AspNetCore.Components
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
@inject AbpBlazorMessageLocalizerHelper<CategoryManagementResource> LH
@using Full.Abp.CategoryManagement.Blazor.Pages.Components
@using Full.Abp.BlazoriseUI.Components.Tree

<br>
<Card>
    <CardHeader>
        @* ************************* PAGE HEADER ************************* *@
        <PageHeader Title="@(CategoryDefinitionManager.Get(CategoryDefinitionName).DisplayName.Localize(StringLocalizerFactory))"
                    BreadcrumbItems="@BreadcrumbItems"
                    Toolbar="@Toolbar">
        </PageHeader>
    </CardHeader>
    <CardBody>
        @* ************************* DATA GRID ************************* *@
        <Form>
            <Table Class="b-table table table-striped b-datagrid">
                <TableHeader ThemeContrast="ThemeContrast.Light">
                    <TableRow>
                        <TableHeaderCell>@L["Name"]</TableHeaderCell>
                        <TableHeaderCell>@L["Sequence"]</TableHeaderCell>
                        <TableHeaderCell>@L["Actions"]</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    <TreeComponent Nodes="Entities" GetChildren="GetChildNodesAsync" DefaultExpandedDeepin="5">
                        <NodeContent Context="context">
                            <TableRow>
                                @* <TableRowHeader>@context.NodeDatadata.Id</TableRowHeader> *@
                                <TableRowCell>
                                    @for (int i = 0; i < context.NodeComponent.Deepin; i++)
                                    {
                                        <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                    }
                                    <Icon Clicked="() => context.NodeComponent.Toggle()" Name="@(context.NodeComponent.IsExpanded ? IconName.AngleDown : IconName.AngleRight)"></Icon>

                                    @context.Nodedata.Name
                                </TableRowCell>
                                <TableRowCell>
                                    @context.Nodedata.Sequence
                                </TableRowCell>
                                <TableRowCell>
                                    @foreach (var action in EntityActions.Get<CategoryManagement>())
                                    {
                                        <EntityActionButton EntityAction="action" Entity="context.Nodedata"/>
                                    }
                                </TableRowCell>
                            </TableRow>
                        </NodeContent>
                    </TreeComponent>

                </TableBody>
            </Table>
        </Form>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
@if (HasCreatePermission)
{
    <Modal @ref="CreateModal" Closing="@ClosingCreateModal">
        <ModalContent Centered="true">
            <Form>
                <ModalHeader>
                    <ModalTitle>@L["New"]</ModalTitle>
                    <CloseButton Clicked="CloseCreateModalAsync"/>
                </ModalHeader>
                <ModalBody>
                    <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Name"]</FieldLabel>
                                <TextEdit @bind-Text="@NewEntity.Name" Autofocus="true">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Sequence"]</FieldLabel>
                                <NumericEdit @bind-Value="@NewEntity.Sequence" Autofocus="true">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </NumericEdit>
                            </Field>
                        </Validation>
                        @* <Field> *@
                        @*     <Check TValue="bool" @bind-Checked="@NewEntity.IsEnabled">@L["DisplayName:IsDefault"]</Check> *@
                        @* </Field> *@
                    </Validations>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="CloseCreateModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Clicked="@CreateEntityAsync"/>
                </ModalFooter>
            </Form>
        </ModalContent>
    </Modal>
}
@* ************************* EDIT MODAL ************************* *@
@if (HasUpdatePermission)
{
    <Modal @ref="EditModal" Closing="@ClosingEditModal">
        <ModalContent Centered="true">
            <Form>
                <ModalHeader>
                    <ModalTitle>@L["Edit"]</ModalTitle>
                    <CloseButton Clicked="CloseEditModalAsync"/>
                </ModalHeader>
                <ModalBody>
                    <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Name"]</FieldLabel>
                                <TextEdit @bind-Text="EditingEntity.Name" Autofocus="true">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                            <Validation MessageLocalizer="@LH.Localize">
                                <Field>
                                    <FieldLabel>@L["Sequence"]</FieldLabel>
                                    <NumericEdit @bind-Value="@EditingEntity.Sequence" Autofocus="true">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </NumericEdit>
                                </Field>
                            </Validation>
                        </Validation>
                    </Validations>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="CloseEditModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Clicked="@UpdateEntityAsync"/>
                </ModalFooter>
            </Form>
        </ModalContent>
    </Modal>
}